/* 전체 페이지 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    /*margin-right: 10px;*/
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
main {
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 250px); /* 사이드바 너비를 제외한 나머지 너비 */
    margin-left: 10px;     /* 사이드바 너비만큼 여백을 줍니다 */
    margin-right: 10px;
    position: absolute;
    bottom: 20%;
    top:0;

}
.upload-form{
    overflow-y: auto;
    height: calc(90% - 10px);
}
.upload-title-input{
    height: 25%;
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
}
.upload-comment-input{
    height: 55%;
    margin-bottom: 5px;
}
textarea {
    overflow: auto;
    width: 100%;
    height: 100%;
    resize: vertical;
    border: none;
    outline: none;
}
/* 사이드바 컨테이너 스타일링 */
.sidebar {
    width: 15%; /* 사이드바의 너비를 설정합니다 */
    min-width: 100px;
    max-width: 150px;
    height: 100vh; /* 전체 뷰포트의 높이 */
    background-color: #fafafa; /* Instagram의 배경색과 유사한 색상 */
    padding: 25px; /* 내부 여백을 설정합니다 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 사이드바에 그림자를 추가합니다 */
}

/* 로고 스타일링 */
.logo {
    font-size: 24px; /* 로고 글꼴 크기 */
    font-weight: bold; /* 글꼴 굵기 */
    margin-bottom: 50px; /* 로고와 아래 내용 사이의 간격 */
    text-align: center; /* 중앙 정렬 */
}

/* 메뉴 아이템 스타일링 */
.menu-item {
    display: flex; /* flexbox를 사용하여 아이콘과 텍스트를 가로로 배치합니다 */
    align-items: center; /* 아이콘과 텍스트를 세로 중앙에 위치시킵니다 */
    margin-bottom: 20px; /* 메뉴 항목 사이의 간격 */
    font-size: 18px; /* 텍스트 크기 */
    color: #000; /* 텍스트 색상 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}
.menu-item p{
    display: flex; /* flexbox를 사용하여 아이콘과 텍스트를 가로로 배치합니다 */
    align-items: center; /* 아이콘과 텍스트를 세로 중앙에 위치시킵니다 */
    margin-bottom: 20px; /* 메뉴 항목 사이의 간격 */
    font-size: 18px; /* 텍스트 크기 */
    color: #000; /* 텍스트 색상 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

/* 아이콘 스타일링 (가정: FontAwesome 라이브러리 사용) */
.icon {
    font-size: 24px; /* 아이콘 크기 */
    width: 30px; /* 아이콘 너비 */
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
    text-align: center; /* 아이콘을 가로 중앙에 위치시킵니다 */
}
.profile-header {
    width: 100%;
    max-width: 935px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-bottom: 1px solid #dbdbdb;*/
}

.profile-summary {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.up-profile-picture{
    display: flex;
    align-items: center;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #dbdbdb;
}

.profile-info {
    flex-grow: 1;
}

.username {
    font-size: 28px;
    margin: 0 0 10px;
}

.stats {
    display: flex;
}

.stats span {
    margin-right: 40px;
}

.edit-profile-btn {
    background-color: #dbdbdb;
    border: none;
    padding: 5px 9px;
    font-weight: bold;
    cursor: pointer;
}

.profile-content {
    display: block;
    height: calc(100% - 150px);
    margin-top: 25px;
}

.profile-navigation {
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    height: 25px;
}

.profile-navigation a {
    font-weight: bold;
    padding: 0 20px;
    text-decoration: none;
    color: #8e8e8e;
}

.profile-navigation a.active {
    color: #262626;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    padding: 10px 0;
    height: calc(100% - 25px);
    overflow: scroll;
}

.post-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}
.post-item img {
    width: 200px;
    height: 200px;
}

.profile-footer {
    width: 100%;
    max-width: 935px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 40px;
}

.footer-links a {
    text-decoration: none;
    color: #8e8e8e;
}

.profile-footer span {
    color: #8e8e8e;
    margin-top: 20px;
}
.temp{
    display: flex;
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*width: calc(100% - 250px);*/
    margin-left: 10px;
    margin-right: 10px;

}

.temp2{
    display: block; /* 또는 display: grid; */
    flex-direction: column; /* flexbox 사용시 */
    justify-content: space-between; /* 자식 요소들 사이의 공간을 균등하게 분배 */
    width: 100%;
    height: 100vh; /* 전체 뷰포트 높이 */

}

.up-temp3 {
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 250px); /* 사이드바 너비를 제외한 나머지 너비 */
    margin-left: 10px;     /* 사이드바 너비만큼 여백을 줍니다 */
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    height: 20%;
}

.temp3 {
    display: block;
    padding: 30px 20px;
    margin: 0 auto 30px;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    max-width: 935px;
}

.temp4 {
    display: block; /* 또는 display: grid; */
    /*justify-content: space-between; !* 자식 요소들 사이의 공간을 균등하게 분배 *!*/
    padding: 30px 20px;
    padding-bottom: 0;
    margin: 0 auto 30px;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 935px;

    overflow: auto;
}

.au_c {
    display: block;
    border-top: 1px solid #000000 !important;

    margin-top: -1px!important;
}

/* The Modal (background) */
.modal-custom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
}

/* Modal Content */
.modal-content-post {
    position: relative;
    display: flex;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 85%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-height: 80%;
}
.modal-content-search {
    display: block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    min-height: 40%;
    max-height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}
.search-list{
    /*display: flex;*/

}

.modal-content-post-imagebox{
    width: 65%;
    background-color: #f8f8f8;
}

.post-image {
    width: 100%;
    height: 100%; /* 이미지의 원본 비율을 유지하면서 너비에 맞게 높이를 조정합니다. */
    min-width: 335px;
    min-height: 300px;
    object-fit: contain;
}

.comment-section {
    width: 35%;
    background-color: #ffffff;
    border: 1px solid #cccccc;

}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
    height: 10%;
}

.comment-username {
    font-weight: bold;
    margin: 0 auto;
}

.options {
    cursor: pointer;
}
.comment-bold {
    font-weight: bold;
}
.comment-body-reply {
    height: auto ;
    padding-bottom: 10px;
    display: flex;
}

.comment-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    margin-bottom: 5px;
    height: 10%;
    border-bottom: 1px solid #dbdbdb;
}
.comment-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-bottom: 5px;
    color: #333333;
    border-bottom: 1px solid #dbdbdb;
}
.comment-title-username{
    width: 30%;
    padding-left: 10px;
}
.comment-title-comment{
    width: 60%;
    word-wrap: anywhere;
}
.upload-form{

}
.comment-reply-comment{
    width: 60%;
}

.comment-body {
    overflow-y: auto;
    margin-bottom: 5px;
    height: 40%;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: #777777;
    margin-bottom: 10px;
    height: 10%;
}

.comment-actions {
    cursor: pointer;
}

.comment-input {
    display: flex;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    height: calc(20% - 20px);
    overflow: scroll;
}

.comment-input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
}

.comment-input .send {
    cursor: pointer;
}

.dots {
    margin-left: 10px;
    align-self: end;
}
.option-modal-content {
    background-color: #fefefe; /* 모달 내용의 배경색 */
    margin: 15% auto; /* 중앙 정렬 */
    padding: 20px; /* 패딩으로 내용과 경계 사이 여백 제공 */
    border: 1px solid #888; /* 테두리 */
    width: 40%; /* 너비 */
}

.option-modal-body h3 {
    color: #ff0000; /* 버튼 색상 변경 */
    font-size: 16px; /* 텍스트 크기 변경 */
    cursor: pointer; /* 마우스 오버시 포인터 변경 */
    text-align: center;

}

.option-modal-footer h3 {
    text-align: center; /* 텍스트를 오른쪽 정렬 */
    font-size: 16px; /* 텍스트 크기 변경 */
    cursor: pointer; /* 마우스 오버시 포인터 변경 */
    border-top: 1px solid #131111;
    padding-top: 10px;
}

.modal-content-side-frame {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 85%;
    overflow: scroll;
}

.paging-footer{

}

.modal-content-custom {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    top: 25%;
    min-height: 50%;
}

.user-info-box {
    display: flex; /* 각 요소를 수평으로 정렬 */
    align-items: center; /* 각 요소를 수직 방향으로 중앙 정렬 */
    border-top: 1px solid #dbdbdb;
}

.user-name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 170px;
    font-weight: bold;
    font-size: 16px;
}
.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 170px;

}
.user-chat-button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 170px;

}
.user-friend-button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 170px;

}
.upload-button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(20% - 10px);
}

.user-friend-button-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 170px;
}
.user-chat-button-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 170px;
}

.side-border{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 5px;
}

.reply-option-modal{
    background-color: rgba(0,0,0,0.4);
}