
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}
main {
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 960px;
    overflow: scroll;

}
.upload-form{
    overflow-y: auto;
    height: calc(90% - 10px);
}
.upload-title-input{
    height: 25%;
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
}
.upload-comment-input{
    height: 55%;
    margin-bottom: 5px;
}
textarea {
    overflow: auto;
    width: 100%;
    height: 100%;
    resize: vertical;
    border: none;
    outline: none;
}
/* 사이드바 컨테이너 스타일링 */
.sidebar {
    width: 150px; /* 사이드바의 너비를 설정합니다 */
    height: 100vh; /* 전체 뷰포트의 높이 */
    background-color: #fafafa; /* Instagram의 배경색과 유사한 색상 */
    padding-top: 25px; /* 내부 여백을 설정합니다 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 사이드바에 그림자를 추가합니다 */
}

/* 로고 스타일링 */
.logo {
    font-size: 24px; /* 로고 글꼴 크기 */
    font-weight: bold; /* 글꼴 굵기 */
    margin-bottom: 50px; /* 로고와 아래 내용 사이의 간격 */
    text-align: center; /* 중앙 정렬 */
}

/* 메뉴 아이템 스타일링 */
.menu-item {
    display: flex; /* flexbox를 사용하여 아이콘과 텍스트를 가로로 배치합니다 */
    align-items: center; /* 아이콘과 텍스트를 세로 중앙에 위치시킵니다 */
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 18px; /* 텍스트 크기 */
    color: #000; /* 텍스트 색상 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}
.menu-item p{
    display: flex; /* flexbox를 사용하여 아이콘과 텍스트를 가로로 배치합니다 */
    align-items: center; /* 아이콘과 텍스트를 세로 중앙에 위치시킵니다 */
    margin-bottom: 20px; /* 메뉴 항목 사이의 간격 */
    font-size: 18px; /* 텍스트 크기 */
    color: #000; /* 텍스트 색상 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

/* 아이콘 스타일링 (가정: FontAwesome 라이브러리 사용) */
.icon {
    font-size: 24px; /* 아이콘 크기 */
    width: 30px; /* 아이콘 너비 */
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
    text-align: center; /* 아이콘을 가로 중앙에 위치시킵니다 */
}
.profile-header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-bottom: 1px solid #dbdbdb;*/
}

.profile-summary {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.up-profile-picture{
    display: flex;
    align-items: center;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #dbdbdb;
}

.profile-info {
    flex-grow: 1;
}

.username {
    font-size: 28px;
    margin: 0 0 10px;
}

.stats {
    display: flex;
}

.stats span {
    margin-right: 40px;
}

.edit-profile-btn {
    background-color: #dbdbdb;
    border: none;
    padding: 5px 9px;
    font-weight: bold;
    cursor: pointer;
}

.profile-content {
    display: block;
    margin-top: 25px;
    min-height: calc(100% - 295px);
}

.profile-navigation {
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    height: 25px;
}

.profile-navigation a {
    font-weight: bold;
    padding: 0 20px;
    text-decoration: none;
    color: #8e8e8e;
}

.profile-navigation a.active {
    color: #262626;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    padding: 10px 0;
    /*overflow: scroll;*/
}

.post-item{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: #f8f8f8;
}
.post-item img {
    width: 100%;
    height: 100%;
}

.profile-footer {
    width: 100%;
    min-width: 750px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 40px;
}

.footer-links a {
    text-decoration: none;
    color: #8e8e8e;
}

.profile-footer span {
    color: #8e8e8e;
}
.temp{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

}

.temp2{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 150px);
    height: 100vh;

}

.up-temp3 {
    margin: 0 auto 30px;
    display: block;
    flex-direction: column;
    align-items: center;
}

.temp3 {
    display: block;
    padding: 30px 20px;
    margin: 0 auto 30px;
    width: 960px;
    height: 100%;
    margin-bottom: 0;
    min-width: 750px;
}

.temp4 {
    display: block;
    padding: 30px 20px;
    padding-bottom: 0;
    margin: 0 auto 30px;
    margin-bottom: 0;
    width: 960px;
    height: 100%;
}

.au_c {
    display: block;
    border-top: 1px solid #000000 !important;
    margin-top: -1px!important;
}

.modal-custom {
    display: none;
    position: fixed;
    z-index: 1050;
    padding: 75px 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-content: center;
}

/* Modal Content */
.modal-content-post {
    display: flex;
    margin: 0 75px;
    justify-content: center;
    max-height: 100%;
}
.modal-content-search {
    display: block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    min-height: 40%;
    max-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: scroll;

}
.search-list{
    /*display: flex;*/

}

.modal-content-post-imagebox{
    max-width: 800px;
    max-height: 800px;
    flex-basis: 800px;
    background-color: #000000;
    aspect-ratio: 1/1;
}

.post-image {
    width: 100%;
    min-width: 335px;
}

.comment-section {
    min-width: 405px;
    min-height: 450px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
    height: 10%;
}

.comment-username {
    font-weight: bold;
    margin: 0 auto;
}

.options {
    cursor: pointer;
}
.comment-bold {
    font-weight: bold;
}
.comment-body-reply {
    height: auto ;
    padding-bottom: 10px;
    display: flex;
}

.comment-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    margin-bottom: 5px;
    height: 10%;
    /*border-bottom: 1px solid #dbdbdb;*/
}
.comment-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-bottom: 5px;
    color: #333333;
    border-bottom: 1px solid #dbdbdb;
}
.comment-title-username{
    width: 30%;
    padding-left: 10px;
}
.comment-title-comment{
    width: 60%;
    word-wrap: anywhere;
}
.upload-form{

}
.comment-reply-comment{
    width: 60%;
}

.comment-body {
    overflow-y: auto;
    margin-bottom: 5px;
    height: 40%;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: #777777;
    margin-bottom: 10px;
    height: 10%;
}

.comment-actions {
    cursor: pointer;
}

.comment-input {
    display: flex;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    height: calc(20% - 20px);
    overflow: scroll;
}

.comment-input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
}

.comment-input .send {
    cursor: pointer;
}

.dots {
    margin-left: 10px;
    align-self: end;
}
.option-modal-content {
    background-color: #fefefe; /* 모달 내용의 배경색 */
    margin: 15% auto; /* 중앙 정렬 */
    padding: 20px; /* 패딩으로 내용과 경계 사이 여백 제공 */
    border: 1px solid #888; /* 테두리 */
    width: 40%; /* 너비 */
}

.option-modal-body h3 {
    color: #ff0000; /* 버튼 색상 변경 */
    font-size: 16px; /* 텍스트 크기 변경 */
    cursor: pointer; /* 마우스 오버시 포인터 변경 */
    text-align: center;

}

.option-modal-footer h3 {
    text-align: center; /* 텍스트를 오른쪽 정렬 */
    font-size: 16px; /* 텍스트 크기 변경 */
    cursor: pointer; /* 마우스 오버시 포인터 변경 */
    border-top: 1px solid #131111;
    padding-top: 10px;
}

.modal-content-side-frame {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 900px;
    /*max-height: 85%;*/
    overflow: scroll;
}

.paging-footer{

}

.modal-content-custom {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    top: 25%;
    min-height: 50%;
}

.user-info-box {
    display: flex; /* 각 요소를 수평으로 정렬 */
    align-items: center; /* 각 요소를 수직 방향으로 중앙 정렬 */
    border-top: 1px solid #dbdbdb;
}

.user-name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 170px;
    font-weight: bold;
    font-size: 16px;
}
.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 170px;

}
.user-chat-button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 170px;

}
.user-friend-button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 170px;

}
.upload-button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(20% - 10px);
}

.user-friend-button-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 170px;
}
.user-chat-button-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 170px;
}

.side-border{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 5px;
}

.reply-option-modal{
    background-color: rgba(0,0,0,0.4);
}

.modal-content-message-frame {
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 900px;
    max-height: 85%;
    overflow: scroll;
}

.message-frame {
    display: flex;
    height: 40px;
}

.message-time {
    width: 20%;
}

.message-comment{
    width: 40%;
}
.message-name{
    width: 20%;
    padding-left: 5px;
}

.last-chat-comment{
    width: 20%;
    overflow-wrap: anywhere;
}
.last-chat-time{
    width: 10%;
}
.not-read-num{
    width: 5%;
    display: flex;
    justify-content: center;
}
.user-chat-button-box3{
    width: 15%;
}

.chatting-footer{
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.chatting-invite{
    width: 100%;
}
.chatting-send{

}

.invite-search-form {
    display: flex;
    height: 30px;
}

.invite-submit{
    width: 70px;
    display: flex;
    justify-content: end;
}
.invite-member{
    width: calc(100% - 355px);
    overflow: scroll;
}
button {
    border-radius: 5px !important;
    background-color: #FFFFFF;
    color: royalblue;
    border: #0068FF solid 1px;
}


button:hover {
    background-color: #a7cbff;
    color: white;
}



.chat-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.message.sent {
    align-items: flex-end;
}
.message .sender {
    font-size: 12px;
    color: #888;
    margin-bottom: 2px;
}
.message.received .content-wrapper {
    display: flex;
    align-items: end;
}
.message.sent .content-wrapper {
    display: flex;
    align-items: start;
}
.message .content {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    overflow-wrap: anywhere;
}
.message.sent .content {
    background-color: #ffeb3b;
}
.message.received .content {
    background-color: #ffffff;
}
.message .time {
    font-size: 12px;
    color: #888;
    margin-left: 10px;
    align-self: flex-end;
}
.message.sent .time {
    margin-left: 0;
    margin-right: 10px;
}

.chatlog {
    display: flex;
    flex-direction: column;
}

.message.received .status-true {
    color: yellow;
    font-size: 12px;
    margin-left: 10px;

}

.message.sent .status-true {
    color: yellow;
    font-size: 12px;
    margin-right: 10px;
    text-align: end;
}

.chat-date-frame {
    text-align: -webkit-center;
}
.chat-date {
    background-color: #b7def5;
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
    color: #666;
    align-self: center;
    border-radius: 5px;
    width: 30%;
}

.chat-profile{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.chat-main{
    display: flex;
}
.message.received .chat-side{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.message.sent .chat-side{
    margin-right: 10px;
    text-align: end;
    display: flex;
    flex-direction: column;
}

.message.sent .chat-side-add{
    display: flex;
    justify-content: end;
}
