<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link th:href="@{/css/LoginForm.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="main-container">
  <div class="container">
    <div class="login-container">
      <h2>로그인 </h2>
      <div class="error-space" id="error-space">
        <a th:if ="${loginError}">로그인 정보가 틀렸습니다.</a>
        <a th:if="${logoutFlag}">로그아웃 하셨습니다.</a>
      </div>
    </div>
    <form id="login-form" action="/login" method="POST">
      <label for="email">
        <div class="sub-check">* 이메일
        </div>
        <input type="email" id="email" name="username"><br><br>
      </label>
      <label for="password">* 비밀번호<br>
        <input class="pw" id="password" type="password" name="password" autocomplete="new-password"><br><br>
      </label>

    <button id ='tt' class="button-signup">로그인 하기</button>
      <br><br>
      <h1>Login with OAuth 2.0</h1>
    <a href="/oauth2/authorization/google">Google</a>
    </form>
  </div>
</div>
</body>

</html>

<script>
  $(document).ready(function() {
    $('#login-form').submit(function(event) {
      event.preventDefault(); // 폼의 기본 제출 동작을 방지합니다.

      // var formData = {
      var username =$('#email').val()
      var password = $('#password').val()
      // };
      // console.log(formData)

      $.ajax({
        type: 'POST',
        url: '/login',
        data: {username:username, password: password},
        success: function(response) {
          console.log(response)
          if (response.token == "error") {
            console.log("로그인 실패")
            window.location.href = '/login?error';
          }
          else {
            localStorage.setItem("Authorization", "Bearer " + response.token)
            function setCookie(name, value, days) {
              var expires = "";
              if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
              }
              document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }
            setCookie("Authorization", "Bearer " + response.token, 1);
            window.location.href = '/sidebar/'+response.name;
          }
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });
  });
</script>