<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{/css/Sidebar.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <script src="/js/UserProfileApp.js"></script>
  <script src="/js/UserProfile.js"></script>
  <script src="/js/AcceptFriend.js"></script>
  <script src="/js/AcceptFriendApp.js"></script>
  <script src="/js/WaitFriend.js"></script>
  <script src="/js/WaitFriendApp.js"></script>
  <script src="/js/ChatRoom.js"></script>
  <script src="/js/ChatRoomApp.js"></script>
  <script src="/js/Chatting.js"></script>
  <script src="/js/ChattingApp.js"></script>
  <script src="/js/ChatInvite.js"></script>
  <script src="/js/ChatInviteApp.js"></script>
  <script src="/js/ProfileFriend.js"></script>
  <script src="/js/ProfileFriendApp.js"></script>
  <script src="/js/UserSearch.js"></script>
  <script src="/js/UserSearchApp.js"></script>
  <script src="/js/Post.js"></script>
  <script src="/js/PostApp.js"></script>
  <script src="/js/PostDetail.js"></script>
  <script src="/js/PostDetailApp.js"></script>
  <script src="/js/Core.js"></script>

  <link th:href="@{/css/carouselCustom.css}" rel="stylesheet">
  <title>프로필</title>
</head>

<body>

<input type="hidden" id="loginName" th:data-login-name="${memberDTO.name}">
<input type="hidden" id="loginEmail" th:data-login-email="${memberDTO.email}">
<input type="hidden" id="userName" th:data-user-name="${userName}">
<input type="hidden" id="userEmail" th:data-user-email="${userEmail}">

<div class="temp">

  <div class="sidebar">
    <div class="logo"><a th:href="@{/sidebar/{name}(name=${memberDTO.name})}" style="color: black;">Instagram</a></div>

    <div class="menu-item" id="search-user">
      <i class="fas fa-search"></i>
      <span>검색</span>
    </div>

    <div class="menu-item" id="chatting-roomList">
      <i class="far fa-paper-plane"></i>
      <span>채팅</span>
    </div>

    <div class="menu-item" id="friendship-accepted">
      <i class="far fa-circle" ></i>
      <span>친구 목록</span>
    </div>

    <div class="menu-item" id="friendship-requested">
      <i class="far fa-heart" ></i>
      <span>요청</span>
    </div>


    <input type="file" th:if="${memberDTO.name == userName}" class="fileInput post-Image-File" accept=".png, .jpg, .jpeg" style="display: none;" multiple >
    <div class="menu-item uploadButton-post" th:if="${memberDTO.name == userName}">
      <i class="fas fa-upload" ></i>
      <span>업로드</span>
    </div>

    <a th:href="@{/sidebar/{name}(name=${memberDTO.name})}" class="menu-item">
      <i class="fas fa-user-edit" ></i>

      <span>프로필</span>
    </a>
    <a th:href="@{/userinfo/{name}(name=${memberDTO.name})}" class="menu-item">
      <i class="fas fa-cogs" ></i>
      <span>회원 정보</span>
    </a>
    <a th:href="@{/logout}" class="menu-item">
      <i class="fas fa-power-off" ></i>

      <span>로그아웃</span>
    </a>
  </div>


  <section class="temp2" th:if ="${userExist == True}">
    <main id="post-frame">
      <div class="temp4">
        <header class="profile-header">
          <div class="profile-summary">
            <div class="up-profile-picture" id="profile-table">

            </div>
            <div class="profile-info">
              <h1 class="username">[[${userName}]]</h1>
              <div class="stats">
                <span>게시물 [[${postNum}]]</span>
                <span class="options" id="friend-List">친구 [[${friendNum}]]</span>
                <span id="follow-status">
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='NOTTING'}" th:data-name="${userName}" class="request-Follow-button follow">친구 요청</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='WAITING'}" class="requset-Cancle follow">친구 대기</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='ACCEPT'}" th:data-name="${userName}" class="request-Delete-button follow">친구 삭제</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='ACCEPT'}" th:data-name="${userName}" class="request-Chatroom-button follow">1:1 채팅하기</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='WAITACCEPT'}" th:data-name="${userName}" class="request-Accept-button follow">친구 수락</button>
                </span>
              </div>
            </div>
          </div>
        </header>
        <section class="profile-content">
          <nav class="profile-navigation">

            <a href="#" class="active au_c">게시물</a>
          </nav>
          <div class="post-grid" id="post-grid-image-box">

          </div>
        </section>
        <div class="up-temp3">
          <div class="temp3">


            <footer class="profile-footer">
              <span>© 2024 Instagram Clone</span>
            </footer>
          </div>
        </div>
      </div>

    </main>


  </section>
  <div class ="temp2 temp4 logo" th:unless="${userExist}">
    <p>페이지를 찾을 수 없습니다.</p>
    <a th:href="@{/sidebar/{name}(name=${memberDTO.name})}">돌아가기</a>
  </div>
</div>
</body>
</html>
<div class="Profile-File-Modal modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">파일 제출</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        프로필 파일을 제출하시겠습니까?
        <form id=Profile-Image th:action="@{/profileImage/{userName}(userName=${memberDTO.name})}" th:method="post">
          <div id="profile-box">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submitFile-Profile">제출</button>
      </div>
    </div>
  </div>
</div>

<div id="reply-option-modal" class="modal-custom">
  <div class="option-modal-content">

    <div class="option-modal-body">
      <div id="remove-reply" style="color: red;">삭제</div>
    </div>
    <div class="option-modal-body">
      <div id="cancel-reply">취소</div>
    </div>
  </div>
</div>

<div id="post-option-modal" class="modal-custom">
  <div class="option-modal-content">


    <div class="option-modal-body">
      <div id="remove-post" style="color:red;">삭제</div>
    </div>
    <div class="option-modal-body">
      <div id="post-modify-button">수정</div>
    </div>
    <div class="option-modal-body">
      <div id="cancel-post">취소</div>
    </div>
  </div>
</div>

<div id="profile-option-modal" class="modal-custom">
  <div class="option-modal-content">

    <div class="option-modal-title">
      <div class="text-center">프로필 사진 바꾸기</div>
    </div>
    <div class="option-modal-body">
      <div id="upload-profile-image" style="color: cornflowerblue">사진 업로드</div>
    </div>
    <div class="option-modal-body">
      <div id="cancel-profile-image" style="color: red">현재 사진 삭제</div>
    </div>
    <div class="option-modal-body">
      <div id="aaa">취소</div>
    </div>
  </div>
</div>

<div id="profileImageModal" class="modal-custom">
  <div class="modal-content-post">
    <div id="modal-content-profile-imagebox">
    </div>
  </div>
</div>

<div id="postModal" class="modal-custom">
  <div class="modal-content-post">
    <div class="modal-content-post-imagebox" style="border-top-left-radius: 12px;">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="carousel-image-box" style="border-top-left-radius: 12px;">

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!--        <span class="sr-only">Previous</span>-->
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!--        <span class="sr-only">Next</span>-->
        </a>
      </div>
    </div>
    <div class="comment-section" style="border-top-right-radius: 12px">
      <div class="comment-header">
        <div class="reply-main" style="align-items: center;">
          <div class="reply-image-container">

          </div>
          <div class="reply-wrapper">
            <div class="reply-name">[[${userName}]]</div>
          </div>
        </div>
        <span th:if="${memberDTO.name == userName}" class="options" id="post-option" style="margin-right: 16px;
    font-size: 28px;">...</span>
      </div>




      <div class="comment-body" id="reply-comment-body">

        <div id="post-title-container" style="display: flex;">

        </div>
        <div id="post-reply-container" style="height: calc(100% - 48px);">
        </div>

      </div>

      <form id="reply-form">
        <div class="comment-input">
          <textarea class="text-filed" placeholder="댓글 달기..." id="reply-box"></textarea>
          <span id="reply-send" class="reply-send-button">게시</span>
        </div>
      </form>
    </div>
  </div>

</div>


<div id="post-upload-modal" class="modal-custom">
  <div class="modal-content-post" style="display: block;">
    <div class="post-header-container" id="post-upload-header">
      <div>새 게시물 만들기</div>
    </div>
    <div style="display: flex; place-content: center; min-width: 740px">
      <div class="modal-content-post-imagebox" id="upload-image-container">
    <div id="uploadCarouselControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" id = "upload-carousel-image-box">

      </div>
      <a class="carousel-control-prev" href="#uploadCarouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <!--        <span class="sr-only">Previous</span>-->
      </a>
      <a class="carousel-control-next" href="#uploadCarouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <!--        <span class="sr-only">Next</span>-->
      </a>
    </div>
  </div>
      <div class="comment-section">
        <div class="comment-header">
          <div class="reply-main" style="align-items: center;">
            <div class="reply-image-container">

            </div>
            <div class="reply-wrapper">

            </div>
          </div>
        </div>


    <div class="upload-title-input">
      <textarea class="text-field" placeholder="제목을 입력하세요..." id="post-title"></textarea>
    </div>
    <div class="upload-button-box">
        <button type="button" class="btn btn-primary" id="upload-post-button">공유하기</button>
    </div>

  </div>
    </div>

  </div>
</div>

<div id="post-modify-modal" class="modal-custom">
  <div class="modal-content-post" style="display: block;">
    <div class="post-header-container" id="post-modify-header">
      <div>게시물 수정</div>
    </div>
    <div style="display: flex; place-content: center; min-width: 740px;">
      <div class="modal-content-post-imagebox">
        <div id="modifyCarouselControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" id = "modify-carousel-image-box">

          </div>
          <a class="carousel-control-prev" href="#modifyCarouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <!--        <span class="sr-only">Previous</span>-->
          </a>
          <a class="carousel-control-next" href="#modifyCarouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <!--        <span class="sr-only">Next</span>-->
          </a>
        </div>
      </div>
      <div class="comment-section">
        <div class="comment-header">
          <div class="reply-main" style="align-items: center;">
            <div class="reply-image-container">

            </div>
            <div class="reply-wrapper">
              <div class="reply-name">[[${userName}]]</div>
            </div>
          </div>
        </div>

        <div class="upload-title-input">
          <textarea class="text-field" placeholder="제목을 입력하세요..." id="post-update-title"></textarea>
        </div>
        <div class="upload-button-box modify-value">
          <button type="button" class="btn btn-primary" id="modify-post-button">수정하기</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="SearchModal" class="modal modal-custom">
  <div id="searchContainer" class="modal-content-search">
    <form id="searchForm">
      <div class="search-container">
        <svg width="24" height="24" viewBox="0 0 24 24" class="search-icon">
          <path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line>
        </svg>
        <input type="text" id="searchInput" placeholder="검색어 입력...">
      </div>
    </form>
    <div id="searchResult" class="side-border search-user-container">

    </div>
    <ul class="pagination justify-content-center align-items-center" id="search-page">

    </ul>
  </div>
</div>

<div id="friendShip-requestedModal" class="modal-custom">
  <div id="waitContainer" class="modal-content-side-frame" style="width: 650px;">
    <div id="friendship-requestedList" class="side-border" style="height:600px;">
    </div>
  </div>
</div>

<div id="friendShip-acceptedModal" class="modal-custom">
  <div id ="acceptContainer" class="modal-content-side-frame" style="width: 650px;">

    <div id="friendship-acceptedList" class="side-border" style="height: 600px;">

    </div>
    <ul class="pagination h-100 justify-content-center align-items-center" id="accepted-page" style="min-height: 38px;">

    </ul>
  </div>
</div>


<div id="friend-List-UserModal" class="modal-custom">
  <div id="profileFriendContainer" class="modal-content-side-frame" style="width: 650px; max-height: 100%">

    <div id="friend-List-UserBox" class="side-border" style="height: 725px;">

    </div>
  </div>
</div>

<div id="chatroom-Modal" class="modal-custom">
  <div id="chatRoomContainer" class="modal-content-side-frame" style="width: 650px;">
    <div id="chatroom-List" class="side-border" style="height: 600px;">

    </div>
  </div>
</div>

<div class="modal-custom" id="chatMessageModal">
  <div class="modal-content-message-frame" style="background-color: #d4e6f1; border-radius: 12px">
  <div class="modal-body" style="background-color: #d4e6f1;">
    <div id="messages-modal" style="height: 500px; overflow-y: scroll; padding: 10px; background-color: #d4e6f1;">
      <div class="message-container" id="messages-box">

      </div>
    </div>

    <input type="text" id="messageInput" placeholder="Type a message..." class="form-control mt-2">
    <div class="chatting-footer">
      <div class="chatting-invite">
        <button type="button" id="invite-chatuser">초대하기</button>
      </div>
      <div class="chatting-send">
        <button type="button" id="send-button-modalroom">전송</button>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="modal modal-custom" id="inviteModal">
    <div class="modal-content-search" id="scroll-invite">
      <div class="invite-search-submit-container" style="display: flex;">
      <form id="inviteSearchForm" class="invite-search-form">
        <div class="search-container">
          <svg width="24" height="24" viewBox="0 0 24 24" class="search-icon">
            <path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line>
          </svg>
          <input type="text" id="inviteSearchInput" placeholder="검색어 입력...">
<!--          <button type="submit" style="width: 100px;">검색</button>-->
        </div>
      </form>
      <div class="invite-submit">
        <button type="submit" id="invite-submit">초대</button>
      </div>
      </div>
      <div id="invite-container" class="invite-member">


      </div>
      <div id="inviteSearchResult" class="side-border" style="height: 725px;">

      </div>
    </div>
</div>
