<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{/css/Sidebar.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link th:href="@{/css/carouselCustom.css}" rel="stylesheet">
</head>

<body>
<div class="temp">

  <div class="sidebar">
    <div class="logo">Instagram</div>
    <a class="menu-item">
      <p id="search-user">검색</p>
    </a>
    <a class="menu-item">
      <span class="chatting-roomList">채팅 목록</span>
    </a>
    <a class="menu-item">
      <span class="friendship-accepted">친구 목록</span>
    </a>
    <a class="menu-item">
      <span class="friendship-requested">친구 요청</span>
    </a>
    <a th:href="@{/sidebar/{name}(name=${memberDTO.name})}" class="menu-item">
      <span class="profile-name">프로필</span>
    </a>
  </div>


  <section class="temp2" th:if ="${userExist == True}">
    <main>
      <div class="temp4">
        <header class="profile-header">
          <div class="profile-summary">
            <div class="up-profile-picture">
              <input type="file" th:if="${memberDTO.name == userName}"
                     class="fileInput profile-Image-File" style="display: none;">
              <img th:if ="${profileImageDTO.path != null}"
                   th:src ="|/display?fileName=${profileImageDTO.getImageURL()}|"
                   alt="Profile Picture" class="profile-picture uploadButton-profile">
              <img th:if ="${profileImageDTO.path == null}"
                   th:src ="|/display?fileName=outprofile.png|"
                   alt="Profile Picture" class="profile-picture uploadButton-profile">

            </div>
            <div class="profile-info">
              <h1 class="username">[[${userName}]]</h1>
              <div class="stats">
                <span>게시물 [[${postNum}]]</span>
                <span>친구 0</span>
                <span id="follow-status">
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='NOTTING'}" class="request-Follow follow">친구 요청</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='WAITING'}" class="requset-Cancle follow">친구 대기</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='ACCEPT'}" th:data-name="${userName}" class="request-Delete-button follow">친구 삭제</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='ACCEPT'}" th:data-name="${userName}" class="request-Chatroom-button follow">1:1 채팅하기</button>
                  <button th:if="${memberDTO.name != userName && friendshipStatus =='WAITACCEPT'}" th:data-name="${userName}" class="request-Accept-button follow">친구 수락</button>
                </span>
              </div>
            </div>
          </div>
        </header>

        <section class="profile-content">
          <nav class="profile-navigation">

            <a href="#" class="active au_c">게시물</a>
            <a href="#">저장됨</a>
            <a href="#">태그됨</a>
          </nav>
          <div class="post-grid" id="post-grid-image-box">
            <div class="post-item " th:each="dto : ${result.dtoList}">
              <td><img class = "post-list-img"
                       th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null }"
                       th:src ="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|"
                       th:data-url="|${dto.imageDTOList[0].getImageURL()}|"
                       th:data-id="${dto.imageDTOList[0].pino}"
                       th:data-pid="${dto.pno}"
              ></td>
            </div>
          </div>
        </section>
      </div>
    </main>

    <div class="up-temp3">
      <div class="temp3">
        <ul class="pagination h-100 justify-content-center align-items-center" id="post-page">
          <li th:class="'page-item ' + ${result.page == page?'active':''}"
              th:each="page: ${result.pageList}">
            <button class="page-link post-page-button" th:data-name="|${page}|">
              [[${page}]]
            </button>
          </li>
        </ul>
        <input type="file" th:if="${memberDTO.name == userName}" class="fileInput post-Image-File" style="display: none;" multiple>
        <button th:if="${memberDTO.name == userName}" class="uploadButton-post">이미지 업로드</button>

        <footer class="profile-footer">
          <span>© 2024 Instagram Clone</span>
        </footer>
      </div>
    </div>
  </section>
  <div class ="temp2 temp4 logo" th:unless="${userExist}">
    <p>페이지를 찾을 수 없습니다.</p>
    <a th:href="@{/sidebar/{name}(name=${memberDTO.name})}">돌아가기</a>
  </div>
</div>
</body>

<div class="Profile-File-Modal modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">파일 제출</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        프로필 파일을 제출하시겠습니까?
        <form id=Profile-Image th:action="@{/sidebar/profileImage/{userName}(userName=${memberDTO.name})}" th:method="post">
          <div id="profile-box">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submitFile-Profile">제출</button>
      </div>
    </div>
  </div>
</div>

<div id="optionsModal" class="modal reply-option-modal">
  <div class="reply-modal-content">

    <div class="reply-modal-body remove-reply">
      <h3 id="remove-reply">삭제</h3>
    </div>
    <div class="reply-modal-footer close-reply">
      <h3 id="cancel-reply">취소</h3>
    </div>
  </div>
</div>

<div id="profileImageModal" class="modal">
  <div class="modal-content-post">
    <div id="modal-content-profile-imagebox">
    </div>
  </div>
</div>

<div id="myModal" class="modal-custom">
  <div class="modal-content-post">
    <div class="modal-content-post-imagebox">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="carousel-image-box">

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!--        <span class="sr-only">Previous</span>-->
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!--        <span class="sr-only">Next</span>-->
        </a>
      </div>
    </div>
    <div class="comment-section">
      <div class="comment-header">
        <span class="comment-username">[[${userName}]]</span>
        <span class="options">...</span>
      </div>
      <div class="comment-title comment-bold" id="post-title">
        tt
      </div>
      <div class="comment-main" id="post-comment">
        fawf
      </div>
      <div class="comment-body" id="reply-comment-body">

      </div>

      <div class="comment-input">
        <input type="text" placeholder="댓글 달기..." id="comment-box">
        <span id="reply-send">➤</span>
      </div>
    </div>
  </div>

</div>


<div id="post-upload-modal" class="modal-custom">
  <div class="modal-content-post">
    <div class="modal-content-post-imagebox">
      <div id="uploadCarouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id = "upload-carousel-image-box">

        </div>
        <a class="carousel-control-prev" href="#uploadCarouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <!--        <span class="sr-only">Previous</span>-->
        </a>
        <a class="carousel-control-next" href="#uploadCarouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!--        <span class="sr-only">Next</span>-->
        </a>
      </div>
    </div>
    <div class="comment-section">
      <div class="comment-header">
        <span class="comment-username">[[${userName}]]</span>
        <span class="options">...</span>
      </div>

      <form class="upload-form" id=upload-form th:action="@{/sidebar/post/{userName}(userName=${memberDTO.name})}" th:method="post">
        <div class="upload-title-input">
          <textarea class="text-field" placeholder="제목을 입력하세요..." name="title"></textarea>
  <!--        <input type="text" placeholder="문구를 입력하세요..." id="upload-comment-box">-->
        </div>
        <div class="upload-comment-input">
          <textarea class="text-field" placeholder="텍스트를 입력하세요..." name="comment"></textarea>

        </div>
        <div class="upload-button-box">
            <input type="hidden" name="email" th:value="${memberDTO.email}">
            <div id="upload-form-image-box">

            </div>
            <button type="button" class="btn btn-primary" id="upload-post-button">공유하기</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div id="SearchModal" class="modal">
  <div class="modal-content-custom">
    <form id="searchForm">
      <input type="text" id="searchInput" placeholder="검색어 입력...">
      <button type="submit">검색</button>
    </form>
    <div id="searchResult">

    </div>
  </div>
</div>

<div id="friendShip-requestedModal" class="modal-custom">
  <div class="modal-content-side-frame">

    <div id="friendship-requestedList" class="side-border">

    </div>
    <ul class="pagination h-100 justify-content-center align-items-center" id="requested-page">
      <li class="page-item active">
        <a class="page-link">1</a>
      </li>
      <li class="page-item">
        <a class="page-link">2</a>
      </li>
    </ul>
  </div>
</div>

<div id="friendShip-acceptedModal" class="modal-custom">
  <div class="modal-content-side-frame">

    <div id="friendship-acceptedList" class="side-border">

    </div>
    <ul class="pagination h-100 justify-content-center align-items-center" id="accpeted-page">

    </ul>
  </div>
</div>
</html>

<div id="chatroom-Modal" class="modal-custom">
  <div class="modal-content-side-frame">
    <div id="chatroom-List" class="side-border">

    </div>
    <ul class="pagination h-100 justify-content-center align-items-center" id="chatroom-page">

    </ul>
  </div>
</div>

<div class="modal fade" id="chatMessageModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Chat Room</h5>
        <button type="button" id="close-modal-room" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="messages-modal" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; background-color: rgb(255, 255, 255);">
          <div class="modal-header">
            <button class="past-button" id="past-chat">이전 기록</button>
          </div>
          <div class id="messages-box">

          </div>
          <!-- 메시지가 동적으로 여기에 표시됨 -->
        </div>
        <input type="text" id="messageInput" placeholder="Type a message..." class="form-control mt-2">
      </div>
      <div class="modal-footer">
        <button type="button" id="send-button-modalroom">Send</button>
        <!--        <button onclick="sendMessage('publicRoom')">Send</button>-->
      </div>
    </div>
  </div>
</div>

<script>
  var requestedPage = 1;
  var acceptedPage = 1;
  var chatRoomPage = 1;
  var postPage = 1;
  function sendReplyRegisterRequset(postId, commentBox, userEmail) {
    console.log(commentBox.value)
    var data = {pno:postId, text:commentBox.value, email:userEmail};
    console.log(data);
    $.ajax({
      url: '/reply/'+postId,
      type: "POST",
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType:"text",
      success: function (result){
        console.log("result : " + result);
        var replyArea = $("#reply-comment-body");
      }
    })
  };
  function sendReplyDeleteRequest(rno){
    $.ajax({
      url: '/reply/'+rno+"/"+rno,
      type: 'DELETE',
      contentType: "application/json; charset=utf-8",
      dataType: "text",
      success: function (result){
        console.log("result : " +result);
        $('[data-rno="' + rno + '"]').closest('.comment-body-reply').remove();
      }
    })
  }

  function showReplyListInPost(postId){
    $.getJSON("/reply/"+postId +"/all", function (arr){
      var str = "";
      var loginEmail = '[[${memberDTO.email}]]';
      $.each(arr, function (idx, reply){
        console.log(reply);
        replyStr = createReplyhtmlbox(loginEmail, reply);
        str += replyStr;
      });
      $("#reply-comment-body").html(str);
    })
  }

  function showUploadedImages(arr){
    console.log(arr);
    var divArea = $(".uploadResult");
    var str = "";

    for (var i = 0; i < arr.length; i++) {
      str += "<div>";
      str += "<img src='/display?fileName=" + arr[i].thumbnailURL + "'>";
      str += "<button class='removeBtn' data-name='" + arr[i].imageURL + "'>Remove</button>";
      str += "</div>";
      console.log(str);
    }
    divArea.append(str);
  }

  function createReplyhtmlbox(loginEmail, reply){
    var str = "";
    str += '<div class="comment-body-reply">';
    str += '<div class="comment-title-username comment-bold">'
    str += reply.name
    str += '</div>'
    str += '<div class="comment-title-comment">'
    str += reply.text
    str += '</div>'
    if (loginEmail == reply.email) {
      str += '<span class="options dots reply-option" data-rno="' + reply.rno + '">...</span>'
    }
    str += '</div>'
    return str
  }
  function sendFollowRequest(loadName){
    $.ajax({
      url: '/friendShip/' + loadName,
      type: 'POST',
      dataType: 'text',
      success: function (arr){
        console.log(arr);
        self.location.reload();
      }
    })
  }

  function createSearchInfohtmlbox(searchInfo){
    var searchResult = "";
    if(searchInfo.clubMemberName != null){
      if(searchInfo.profileImageDTO.path != null) {
        searchResult += '<img src ="/display?fileName=' + searchInfo.profileImageDTO.imageURL; + '/"' +
        ' alt="Profile Picture" class="profile-picture uploadButton-profile">'
      }
      else{
        searchResult += '<img src = "/display?fileName=outprofile.png/"' +
                ' alt="Profile Picture" class="profile-picture uploadButton-profile">'
      }
      searchResult += '<a href="/sidebar/' + searchInfo.clubMemberName + '"' +
              ' class=comment-bold>' + searchInfo.clubMemberName + '</a>';
    }
    else{
      searchResult += '검색한 사용자가 없습니다.';
    }
    return searchResult;
  }
  function getSearchUserInfo(searchTerm){
    $.getJSON("/search/name/"+searchTerm, function (searchInfo){
      var searchResult = createSearchInfohtmlbox(searchInfo);
      $("#searchResult").html(searchResult);
    })
  }
  function createFriendShipAcceptedInfo(profileAndFriendMap){
    var Result = "";
    console.log(profileAndFriendMap)
    for (var i = 0; i < profileAndFriendMap.dtoList.length ; i++) {
      Result += '<div class="user-info-box">';
      Result += '<div class="profile-box">';
      if(profileAndFriendMap.dtoList[i].profileImage ==null)
        Result += '<img src = "/display?fileName=outprofile.png/"' +
                ' alt="Profile Picture" class="profile-picture uploadButton-profile">'
      else
        Result += '<img src ="/display?fileName=' + profileAndFriendMap.dtoList[i].profileImage.imageURL + '/"' +
                ' alt="Profile Picture" class="profile-picture uploadButton-profile">'
      Result += '</div>';
      Result += '<div class="user-name-box">'
      Result += '<a href="/sidebar/' + profileAndFriendMap.dtoList[i].friendName + '"' +
              ' class=comment-bold>' + profileAndFriendMap.dtoList[i].friendName + '</a>';
      Result += '</div>';
      Result += '<div class="user-friend-button-box2">';
      Result += "<button data-name =" + profileAndFriendMap.dtoList[i].friendName + " class='request-Delete-button follow'>친구 삭제</button>"
      Result += '</div>';
      Result += '<div class="user-chat-button-box2">';
      Result += "<button data-name =" + profileAndFriendMap.dtoList[i].friendName + " class='request-Chatroom-button follow'>1:1 채팅하기</button>"
      Result += '</div>';
      Result += '</div>';
    }
    if (Result == "")
      Result += "친구 요청 목록이 없습니다.";
    return Result;
  }

  function createFriendShipWaitingInfo(profileAndFriendMap){
    var Result = "";
    for (var i = 0; i < profileAndFriendMap.dtoList.length ; i++) {
      Result += '<div class="user-info-box">';
      Result += '<div class="profile-box">';
      if(profileAndFriendMap.dtoList[i].profileImage ==null)
        Result += '<img src = "/display?fileName=outprofile.png/"' +
                ' alt="Profile Picture" class="profile-picture uploadButton-profile">'
      else
        Result += '<img src ="/display?fileName=' + profileAndFriendMap.dtoList[i].profileImage.imageURL + '/"' +
                ' alt="Profile Picture" class="profile-picture uploadButton-profile">'
      Result += '</div>';
      Result += '<div class="user-name-box">';
      Result += '<a href="/sidebar/' + profileAndFriendMap.dtoList[i].friendName + '"' +
              ' class=comment-bold>' + profileAndFriendMap.dtoList[i].friendName + '</a>';
      Result += '</div>';
      Result += '<div class="user-chat-button-box">';
      Result += "<button data-name =" + profileAndFriendMap.dtoList[i].friendName + " class='request-Accept-button follow'>친구 수락</button>"
      Result += '</div>';
      Result += '</div>';
    }
    if (Result == "")
      Result += "친구 요청 목록이 없습니다.";
    return Result;
  }

  function createChatroomListInfo(result){
    Result = "";
    console.log(result);
    for (var i = 0; i < result.dtoList.length; i++){
      Result += '<div class="user-info-box">';
      Result += '<div class="profile-box">';
      if(result.dtoList[i].profileImage != null)
        Result += '<img src ="/display?fileName=' + result.dtoList[i].profileImage.imageURL + '/"' +
                ' alt="Profile Picture" class="profile-picture">';
      else
        Result += '<img src ="/display?fileName=outprofile.png/"' +
                ' alt="Profile Picture" class="profile-picture">'
      Result += '</div>';
      Result += '<div class ="user-name-box">';
      Result += '<a class ="user-name">' +result.dtoList[i].friendName+'</a>';
      Result += '</div>';
      Result += '<div class ="user-chat-button-box">';
      Result += '<button data-name =' + result.dtoList[i].friendName + ' class=\"request-Chatroom-button\">대화창 열기</button>'
      Result += '</div>';
      Result += '</div>';
    }

    return Result;
  }
  function showChatroomAndProfileImageList(loginName){
    console.log(chatRoomPage);
    $.ajax({
      url: "/chat/getChatRoomAndProfileImagePage?Page=" + chatRoomPage,
      type: "POST",
      data: {loginName: loginName},
      dataType: "JSON",
      success: function (profileAndChatRoomMap){
        var pageResult = "";
        Result = createChatroomListInfo(profileAndChatRoomMap);
        console.log(Result);
        if (profileAndChatRoomMap.prev != false)
          pageResult += '<button class="page-link chatroom-page-button" data-name="' + (profileAndChatRoomMap.start-1) + '">NEXT</button>'
        $.each(profileAndChatRoomMap.pageList, function (idx, pageList){
          if (chatRoomPage == pageList)
            pageResult += '<li class="page-item active">';
          else
            pageResult += '<li class="page-item">';
          pageResult += '<button class="page-link chatroom-page-button" data-name="' + pageList + '">' + pageList + '</button>'
          pageResult += '</li>';
        })
        if (profileAndChatRoomMap.next != false)
          pageResult += '<button class="page-link chatroom-page-button" data-name="' + (profileAndChatRoomMap.end+1) + '">NEXT</button>'

        $("#chatroom-List").html(Result);
        $("#chatroom-page").html(pageResult);
      }
    })
  }

  function showFriendProfileWaitingImageList(loginName, requestedPage){
    console.log(loginName);
    $.ajax({
      url: '/profileImage/waitingList?page='+requestedPage,
      type: "POST",
      data: {loginName:loginName},
      dataType: "JSON",
      success: function (profileAndFriendMap){
        console.log(profileAndFriendMap)
        var pageResult = ""
        friendshipResult = createFriendShipWaitingInfo(profileAndFriendMap);
        if (profileAndFriendMap.prev != false)
          pageResult += '<button class="page-link requested-page-button" data-name="' + (profileAndFriendMap.start-1) + '">NEXT</button>'
        $.each(profileAndFriendMap.pageList, function (idx, pageList){
          if (requestedPage == pageList)
            pageResult += '<li class="page-item active">';
          else
            pageResult += '<li class="page-item">';
          pageResult += '<button class="page-link requested-page-button" data-name="' + pageList + '">' + pageList + '</button>'
          pageResult += '</li>';
        })
        if (profileAndFriendMap.next != false)
          pageResult += '<button class="page-link requested-page-button" data-name="' + (profileAndFriendMap.end+1) + '">NEXT</button>'
        $("#friendship-requestedList").html(friendshipResult);
        $("#requested-page").html(pageResult)
      }
    });
  }
  function showFriendProfileAcceptedImageList(loginName, acceptedPage){
    $.ajax({
      url: '/profileImage/acceptedList?page='+acceptedPage,
      type: "POST",
      data: {loginName:loginName},
      dataType: "JSON",
      success: function (profileAndFriendMap){
        console.log(profileAndFriendMap);
        var pageResult = ""
        friendshipResult = createFriendShipAcceptedInfo(profileAndFriendMap);
        if (profileAndFriendMap.prev != false)
          pageResult += '<button class="page-link accepted-page-button" data-name="' + (profileAndFriendMap.start-1) + '">NEXT</button>'
        $.each(profileAndFriendMap.pageList, function (idx, pageList){
          if (acceptedPage == pageList)
            pageResult += '<li class="page-item active">';
          else
            pageResult += '<li class="page-item">';
          pageResult += '<button class="page-link accepted-page-button" data-name="' + pageList + '">' + pageList + '</button>'
          pageResult += '</li>';
        })
        if (profileAndFriendMap.next != false)
          pageResult += '<button class="page-link accepted-page-button" data-name="' + (profileAndFriendMap.end+1) + '">NEXT</button>'
        $("#friendship-acceptedList").html(friendshipResult);
        $("#accpeted-page").html(pageResult)
      }
    });
  }
  function sendAcceptFriendShipRequest(loginName, requesterName, $button){
    var data = {loginName:loginName, requesterName:requesterName};
    console.log(loginName);
    $.ajax({
      url: '/friendShip/acceptFriendShipRequest',
      type: "POST",
      data: data,
      dataType: "TEXT",
      success: function (result) {
        $button.text('친구 수락 완료');
        $button.prop('disabled', true);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
      }
    })
  }

  function sendDeleteFriendShipRequest(loginName, requesterName, $button){
    var data = {loginName:loginName, requesterName:requesterName};
    $.ajax({
      url: '/friendShip/deleteFriendShipRequest',
      type: "POST",
      data: data,
      dataType: "TEXT",
      success: function (result){
        $button.text("친구 삭제 완료");
        $button.prop('disabled, true');
      }
    })
  }

  function uploadImageAndPostRegisterRequset(formData){
    $.ajax({
      url: '/uploadAjax',
      processData: false,
      contentType: false,
      data: formData,
      type: 'POST',
      dataType: 'json',
      success: function (result) {
        console.log(result);
        var str = "";
        var carouselTag = "";
        $.each(result, function (idx, imageInfo) {
          console.log(imageInfo);
          str += "<input type='hidden' name='imageDTOList["+idx+"].imgName' value='"+imageInfo['fileName'] +"'>";
          str += "<input type='hidden' name='imageDTOList["+idx+"].path' value='"+imageInfo['folderPath']+"'>";
          str += "<input type='hidden' name='imageDTOList["+idx+"].uuid' value='"+imageInfo['uuid']+"'>";

          if(idx ==0)
            carouselTag += '<div class="carousel-item active">'
          else
            carouselTag += '<div class="carousel-item">'
          carouselTag += '<img src=\"/display?fileName='+imageInfo.imageURL+'/\" alt=\"Profile Picture\" class=\"post-image\">';
          carouselTag += '</div>';
        });
        console.log(str);
        if(result.imageDTOList.length ==1){
          $(".carousel-control-next").html("")
          $(".carousel-control-prev").html("")
        }
        else{
          $(".carousel-control-prev").html('<span class="carousel-control-prev-icon" aria-hidden="true"></span>')
          $(".carousel-control-next").html('<span class="carousel-control-next-icon" aria-hidden="true"></span>')
        }

        $("#upload-form-image-box").html(str);
        $("#upload-carousel-image-box").html(carouselTag);
        return result;
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  }
  function uploadImageAndProfileRegisterRequset(formData){
    $.ajax({
      url: '/uploadAjax',
      processData: false,
      contentType: false,
      data: formData,
      type: 'POST',
      dataType: 'json',
      success: function (result) {
        console.log(result);
        // showUploadedImages(result)
        var userName = '[[${memberDTO.name}]]';
        var str = "";
        result.forEach((item, index) => {
          console.log(item);
          str += "<input type='hidden' name='imgName' value='" + item['fileName'] + "'>";
          str += "<input type='hidden' name='path' value='" + item['folderPath'] + "'>";
          str += "<input type='hidden' name='uuid' value='" + item['uuid'] + "'>";
          str += "<input type='hidden' name='userName' value='" + userName + "'>";
          str += "<input type='hidden' name='userEmail' value='" + '[[${memberDTO.email}]]' + "'>";
        })
        console.log(str);
        $("#profile-box").html(str);
        $("#Profile-Image").submit();

      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus)
      }
    });
  }

  $(document).ready(function() {
    $('.uploadButton-post').click(function() {
      $('.post-Image-File').click().on('change', function() {
        if (this.files && this.files.length > 0) {
          // $('.Post-File-Modal').modal('show');
          $('#post-upload-modal').modal('show');
          var formData = new FormData();
          var inputFile = $("input.post-Image-File");
          var files = inputFile[0].files;
          console.log("TTT : " + files[0]);
          for (var i = 0; i < files.length; i++){
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
          }
          uploadImageAndPostRegisterRequset(formData);

        }
        $('#upload-post-button').click(function() {
          alert('포스트 파일이 제출되었습니다.');
          console.log(inputFile);
          $('#upload-form').submit();
          $('.Post-File-Modal').modal('hide');

        });
      });
    });

    $('.uploadButton-profile').click(function () {
      $('.profile-Image-File').click().on('change', function() {
        if (this.files && this.files.length > 0) {
          $('.Profile-File-Modal').modal('show');
          var formData = new FormData();
          var inputFile = $("input.profile-Image-File");
          var files = inputFile[0].files;
          console.log(files[0]);
          formData.append("uploadFiles", files[0]);
        }
        $('.submitFile-Profile').click(function() {
          uploadImageAndProfileRegisterRequset(formData);
          alert('프로필 파일이 제출되었습니다.');
          console.log(inputFile);
          $('.filemodal').modal('hide');
        });
      });
    });

    $(".profile-picture").click(function (){
      var userName = '[[${memberDTO.name}]]';
      var loadName = '[[${userName}]]';
      if (userName != loadName) {
        $('#profileImageModal').modal('show');
        var imageUrl = $(this).attr('src');
        var str = '<img src=\"' + imageUrl + '/\"' +
                ' alt=\"Profile Picture\" class=\"post-image\">'
        $("#modal-content-profile-imagebox").html(str);
      }
    })

  });

  $(function (){
    $(".request-Follow").click(function (){
      var loadName = '[[${userName}]]';
      sendFollowRequest(loadName);
    });

    $(document).on('click', '#search-user', function (){
      $('#SearchModal').css('z-index', 1060).modal('show');

      document.getElementById('searchForm').onsubmit = function(event) {
        event.preventDefault();
        var searchTerm = document.getElementById('searchInput').value;
        document.getElementById('searchInput').value = "";

        getSearchUserInfo(searchTerm);
      }
    })

    $(".friendship-requested").click(function (){
      $('#friendShip-requestedModal').modal('show');
      var loginName = '[[${memberDTO.name}]]';
      showFriendProfileWaitingImageList(loginName, requestedPage);
      $('#requested-page').off('click').on('click', '.requested-page-button', function(){
        var presentPage = $(this).attr('data-name');
        requestedPage = presentPage;
        showFriendProfileWaitingImageList(loginName, requestedPage);
      })

    })
    $(".friendship-accepted").click(function (){
      $('#friendShip-acceptedModal').modal('show');
      var loginName = '[[${memberDTO.name}]]';
      showFriendProfileAcceptedImageList(loginName, acceptedPage)
      $('#accpeted-page').off('click').on('click', '.accepted-page-button', function (){
        var presentPage = $(this).attr('data-name');
        acceptedPage = presentPage;
        showFriendProfileAcceptedImageList(loginName, acceptedPage);
      })
    })
    $(".chatting-roomList").click(function (){
      $('#chatroom-Modal').modal('show');
      var loginName = '[[${memberDTO.name}]]';
      showChatroomAndProfileImageList(loginName);
      $('#chatroom-page').off('click').on('click', '.chatroom-page-button', function (){
        var presentPage = $(this).attr('data-name');
        chatRoomPage = presentPage;
        showChatroomAndProfileImageList(loginName);
      })
    })

    $(".temp3").off('click').on('click', '.post-page-button', function (){
      var loginName = '[[${memberDTO.name}]]';
      var presentPage = $(this).attr('data-name');
      postPage = presentPage;
      $.ajax({
        url: "/post/getPostInfo?page=" + postPage,
        type: "POST",
        data: {loginName:loginName},
        dataType: "JSON",
        success: function (result){
          console.log(result);
          var postResult = "";
          var postPageResult = "";
          $.each(result.dtoList, function (idx, dtoList){
            postResult += '<div class="post-item">';
            postResult += '<img class="post-list-img" ' +
                    'src="/display?fileName=' + dtoList.imageDTOList[0].imageURL + '/"' +
                    'data-url ="' + dtoList.imageDTOList[0].imageURL +'" ' +
                    'data-id="' +dtoList.imageDTOList[0].pino + '"' +
                    'data-pid="' + dtoList.pno + '">'
            postResult += '</div>';
          })
          if (result.prev != false)
            postPageResult += '<button class="page-link requested-page-button" data-name="' + (result.start-1) + '">NEXT</button>'
          $.each(result.pageList, function (idx, pageList){
            if (postPage == pageList)
              postPageResult += '<li class="page-item active">'
            else
              postPageResult += '<li class="page-item">'
            postPageResult += '<button class="page-link post-page-button" ' +
                    'data-name="' + pageList +'">' +pageList +'</button>'
          })
          if (result.prev != false)
            postPageResult += '<button class="page-link post-page-button" data-name="' + (result.start-1) + '">NEXT</button>'

          $("#post-grid-image-box").html(postResult);
          $("#post-page").html(postPageResult);
        }
      })

    })
    $(document).on('click', '.request-Accept-button', function(){
      var loginName = '[[${memberDTO.name}]]';
      var requesterName = $(this).attr('data-name');
      var $button = $(this);
      console.log("!!!!뺴애액");
      sendAcceptFriendShipRequest(loginName, requesterName, $button);
    })

    $(document).on('click', '.request-Delete-button', function (){
      var loginName = '[[${memberDTO.name}]]';
      var requesterName = $(this).attr('data-name');
      var $button = $(this);
      sendDeleteFriendShipRequest(loginName, requesterName, $button)
    })

    var roomID = ""
    var page = 1;
    var totalPage = null
    var stompClient = null;
    var dayCheck = null
    const options = {
      year: 'numeric', month: '2-digit', day: '2-digit',
      hour: '2-digit', minute: '2-digit', second: '2-digit',
      hour12: true,
      timeZone: "Asia/Seoul"  // 서버 시간대가 UTC라고 가정
    };
    const formatter = new Intl.DateTimeFormat('en-US', options);
    function connect(RoomID) {
      var socket = new SockJS('/ws');
      stompClient = Stomp.over(socket);
      stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/chat/'+RoomID, function (chatMessage) {
          showChatMessage(JSON.parse(chatMessage.body).name, JSON.parse(chatMessage.body).content, JSON.parse(chatMessage.body).regDate);
        });
      });
      console.log("Connect stomp Client : ", stompClient)
    }

    function disconnect() {
      console.log("Disscunec?",stompClient)
      if (stompClient !== null) {
        stompClient.disconnect();
      }
      console.log("Disconnected");
    }

    function sendMessage(RoomID) {
      console.log("Send Request Room id : ", RoomID);
      var messageContent = document.getElementById('messageInput').value.trim();
      var name = '[[${memberDTO.name}]]';
      console.log("Message Content! : ",messageContent);
      if(messageContent && stompClient) {
        var chatMessage = {
          name: name,
          content: messageContent
        };

        console.log("Send Rquest Direction : ");
        stompClient.send("/app/chat/"+RoomID, {}, JSON.stringify(chatMessage));
        document.getElementById('messageInput').value = '';
      }
    }
    function showChatMessageReverse(name, message, time) {
      var messageElement = document.createElement('div');
      console.log(time);

      var formattedDateTime = formatter.format(new Date(time));
      var showedTime = formattedDateTime.slice(21, 23)+" "+
              formattedDateTime.slice(12, 20)
      console.log(showedTime);
      if (dayCheck != time.slice(0, 10)) {
        var dayElement = document.createElement('h1');
        dayElement.innerText = dayCheck;
        document.getElementById('messages-box').prepend(dayElement);
        dayCheck = time.slice(0, 10);
      }
      messageElement.innerText = name + ": " + message + " ------------ 시간 : " + showedTime;
      document.getElementById('messages-box').prepend(messageElement);
    }
    function showChatMessage(name, message, time){
      var messageElement = document.createElement('div');
      var formattedDateTime = formatter.format(new Date(time));
      var showedTime = formattedDateTime.slice(21, 23)+" "+
              formattedDateTime.slice(12, 20)
      messageElement.innerText = name + ": " + message + " ------------ 시간 : " + showedTime;
      document.getElementById('messages-box').appendChild(messageElement);
    }

    $(document).on('click', '.request-Chatroom-button', function (){
      var loginName = '[[${memberDTO.name}]]';
      var requesterName = $(this).attr('data-name');
      $.ajax({
        url: '/chat/getORCreateChatRoom',
        type: 'POST',
        dataType: 'JSON',
        data: {loginName: loginName, friendName: requesterName},
        success: function (chatRoomDTO) {
          roomID = chatRoomDTO.id;
          connect(chatRoomDTO.id);
          $.ajax({
            url: '/chat/getChatListbyRoomIDPage?page=1',
            type: 'POST',
            dataType: 'JSON',
            data: {roomID: roomID},
            success: function (pageRequestChatDTO) {
              if (pageRequestChatDTO.dtoList.length > 0) {
                dayCheck = pageRequestChatDTO.dtoList[0].regDate.slice(0, 10);
              }
              totalPage = pageRequestChatDTO.totalPage;

              $.each(pageRequestChatDTO.dtoList, function (idx, chatMessageDTO) {
                showChatMessageReverse(chatMessageDTO.name, chatMessageDTO.content, chatMessageDTO.regDate);

              })
              var messageElement = document.createElement('div');
              messageElement.innerText = '-----이전 기록-----';
              document.getElementById('messages-box').appendChild(messageElement);
            }
          })
          $('#past-chat').off('click').on('click', function () {
            page += 1;
            if (totalPage >= page) {
              $.ajax({
                url: '/chat/getChatListbyRoomIDPage?page=' + page,
                type: 'POST',
                dataType: 'JSON',
                data: {roomID: roomID},
                success: function (pageRequestChatDTO) {
                  console.log("ChatMessageDTOLIST : ", pageRequestChatDTO);
                  $.each(pageRequestChatDTO.dtoList, function (idx, chatMessageDTO) {
                    showChatMessageReverse(chatMessageDTO.name, chatMessageDTO.content, chatMessageDTO.regDate);
                  })
                }
              })
            }
            else if (totalPage == page - 1) {
              var dayElement = document.createElement('h1');
              dayElement.innerText = dayCheck;
              document.getElementById('messages-box').prepend(dayElement);
            }
            else {
              alert("조회 할 목록이 없습니다.")
            }
          })
        }
      })
      $('#chatMessageModal').modal('show');
    })

    $('#send-button-modalroom').click(function (){
      console.log("Send-button-modalroom")
      sendMessage(roomID);
    })

    $('#chatMessageModal').on('hidden.bs.modal', function () {
      document.getElementById('messages-box').innerHTML = '';
      console.log("Modal closed");
      console.log("PAGE1 : !!"+ page);
      page = 1;
      disconnect();
    });

  });


  $(function (){
    var commentBox = document.querySelector('#comment-box');
    var userEmail = '[[${memberDTO.email}]]';
    var loadEmail = '[[${userEmail}]]';
    $(document).on('click', '.post-list-img',function() {
      $('#myModal').modal('show');
      var imageUrl = $(this).data('url');
      var postId = $(this).data('pid');
      $.ajax({
        url:'/post/postInfoWithImage',
        type:"POST",
        data: {pno:postId},
        dataType:"JSON",
        success: function (result){
          console.log(result);

          var carouselTag = "";
          var titleTag = "<div class='title-text'>" + result.title +"</div>";
          var commentTag ="<div class='comment-text'>" + result.comment +"</div>";

          $.each(result.imageDTOList, function (idx, imageInfo){
            if(idx ==0)
              carouselTag += '<div class="carousel-item active">'
            else
              carouselTag += '<div class="carousel-item">'
            carouselTag += '<img src=\"/display?fileName='+imageInfo.imageURL+'/\" alt=\"Profile Picture\" class=\"post-image\">';
            carouselTag += '</div>';

          })
          if(result.imageDTOList.length ==1){
            $(".carousel-control-next").html("")
            $(".carousel-control-prev").html("")
          }
          else{
            $(".carousel-control-prev").html('<span class="carousel-control-prev-icon" aria-hidden="true"></span>')
            $(".carousel-control-next").html('<span class="carousel-control-next-icon" aria-hidden="true"></span>')
          }

          $("#post-title").html(titleTag)
          $("#post-comment").html(commentTag)
          $("#carousel-image-box").html(carouselTag);

        }
      })
      showReplyListInPost(postId);

      $('#reply-send').off('click').on('click', function (){
        console.log(commentBox);
        sendReplyRegisterRequset(postId, commentBox, userEmail);
      });
    });

    $(document).on('click', '.reply-option', function() {
      console.log('reply-option event');
      var rno = $(this).data("rno");
      $('#optionsModal').css('z-index', 1051).modal('show');
      $('#remove-reply').off('click').on('click', function(){
        sendReplyDeleteRequest(rno);
        $('#optionsModal').modal('hide');
      });
      $('#cancel-reply').off('click').on('click' ,function() {
        $('#optionsModal').modal('hide');
      });
    });

  });
</script>
