<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{/css/Sidebar.css}" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<span id="userEmail" style="display: none;">[[${memberDTO.email}]]</span>
<span id="loadEmail" style="display: none;">[[${userEmail}]]</span>
<span id="userName" style="display: none;">[[${memberDTO.name}]]</span>
<div class="temp">

  <div class="sidebar">
    <div class="logo">Instagram</div>
    <a class="menu-item">
      <p class="search-name">검색</p>
    </a>
    <a href="#2" class="menu-item">
      <span class="icon">&#8962;</span>홈2
    </a>
    <a href="#3" class="menu-item">
      <span class="icon">&#8962;</span>홈3
    </a>
    <a href="#4" class="menu-item">
      <span class="icon">&#8962;</span>홈4
    </a>
    <a class="menu-item">
      <p class="profile-name">프로필</p>
    </a>
    <!-- 여기에 추가 메뉴 아이템을 넣을 수 있습니다 -->
  </div>


  <section class="temp2">
  <main>
    <div class="temp4">
    <header class="profile-header">
      <div class="profile-summary">
        <div class="up-profile-picture">
          <input type="file" class="fileInput profile-Image-File" style="display: none;">
<!--          <button class="uploadButton-profile">이미지 업로드</button>-->
          <img th:src ="|/display?fileName=${profileImageDTO.getImageURL()}|"
               alt="Profile Picture" class="profile-picture uploadButton-profile">
        </div>
        <div class="profile-info">
          <h1 class="username">[[${userName}]]</h1>
          <div class="stats">
            <span>게시물 [[${postNum}]]</span>₩
            <span>팔로워 0</span>
            <span>팔로우 0</span>
          </div>
          <button class="edit-profile-btn">프로필 편집</button>
        </div>
      </div>
    </header>

    <section class="profile-content">
      <nav class="profile-navigation">

        <a href="#" class="active au_c">게시물</a>
        <a href="#">저장됨</a>
        <a href="#">태그됨</a>
      </nav>
      <div class="post-grid">
        <!-- Post items will go here -->
        <div class="post-item " th:each="dto : ${result.dtoList}">
          <td><img class = "post-list-img"
                   th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null }"
                   th:src ="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|"
                   th:data-url="|${dto.imageDTOList[0].getImageURL()}|"
                   th:data-id="${dto.imageDTOList[0].pino}"
                   th:data-pid="${dto.pno}" width="200" height="200"
                   ></td>
        </div>
      </div>
    </section>
  </div>
  </main>


    <div class="up-temp3">
    <div class="temp3">
<!--      <input name="uploadFiles" type="file" multiple>-->
      <!-- 파일 선택 입력 필드 -->
      <input type="file" class="fileInput post-Image-File" style="display: none;" multiple>

      <!-- 파일 선택을 위한 버튼 -->
      <button class="uploadButton-post">이미지 업로드</button>


      <footer class="profile-footer">
        <ul class="footer-links">
          <li><a href="#">Meta</a></li>
          <!-- Other footer links -->
        </ul>
        <span>© 2023 Instagram from Meta</span>
      </footer>
    </div>
    </div>
  </section>
  </div>
</body>


<div class="Post-File-Modal modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">파일 제출</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        포스트 파일을 제출하시겠습니까?
        <form id="Post-Image" th:action="@{/sidebar/{userName}(userName=${memberDTO.name})}" th:method="post">
          <input type="hidden" name="email" value="TT">
          <div class="box">

          </div>
          <button type="submit" class="btn btn-primary" style="display: none;">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submitFile-Post">제출</button>
      </div>
    </div>
  </div>
</div>

<div class="Profile-File-Modal modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">파일 제출</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        프로필 파일을 제출하시겠습니까?
        <form id=Profile-Image th:action="@{/sidebar/profileImage/{userName}(userName=${memberDTO.name})}" th:method="post">
          <input type="hidden" name="email" value="TT">
          <div class="box">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submitFile-Profile">제출</button>
      </div>
    </div>
  </div>
</div>



<div id="optionsModal" class="modal">
  <div class="reply-modal-content">

    <div class="reply-modal-body remove-reply">
      <h3 id="remove-reply">삭제</h3>
    </div>
    <div class="reply-modal-footer close-reply">
      <h3 id="cancel-reply">취소</h3>
    </div>
  </div>
</div>

</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content-post">
    <div class="modal-content-post-imagebox">
    <img th:src="|/display?fileName=111.png/|" alt="Profile Picture" class="post-image">
    </div>
<!--    여기에 img BOX를 추가하는 식-->
    <div class="comment-section">
      <div class="comment-header">
        <span class="comment-username">[[${userName}]]</span>
        <span class="options">...</span>
      </div>
      <div class="comment-title">
        <div class="comment-title-username comment-bold">
          [[${userName}]]
        </div>
        <div class="comment-title-comment">
          test Sample
        </div>
      </div>
      <div class="comment-body">
        <div class="comment-body-reply">
          <div class="comment-title-username">
            [[${userName}]]
          </div>

        </div>
        <div class="comment-body-reply">
          <div class="comment-title-username">
            [[${userName}]]
          </div>

        </div>

      </div>
      <div class="comment-footer">
        <span class="comment-date">2분 전</span>
        <span class="comment-actions">
      <span class="heart">♥</span>
      <span class="comment">💬</span>
    </span>
      </div>
      <div class="comment-input">
        <input type="text" placeholder="댓글 달기..." id="comment-box">
        <span class="send">➤</span>
      </div>
    </div>
  </div>

</div>

<div id="SearchModal" class="modal">
  <div class="modal-content-search">
    <form id="searchForm">
      <input type="text" id="searchInput" placeholder="검색어 입력...">
      <button type="submit">검색</button>
    </form>
    <div class="searchResult">

    </div>
  </div>
  </div>

</div>




</html>

<script>
  $(document).ready(function() {
    $('.uploadButton-post').click(function() {
      $('.post-Image-File').click();
      console.log("Post-Image");


      $('.post-Image-File').on('change', function() {
        if (this.files && this.files.length > 0) {
          // 파일이 선택되면 모달을 표시
          $('.Post-File-Modal').modal('show');
          var formData = new FormData();
          var inputFile = $("input.post-Image-File");
          var files = inputFile[0].files;
          console.log("TTT : " + files[0]);
          for (var i = 0; i < files.length; i++){
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
          }

        }
        $('.submitFile-Post').click(function() {
          // 제출 버튼 클릭 시 수행할 로직
          $.ajax({
            url: '/uploadAjax',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
              console.log(result);
              // showUploadedImages(result)
              var str = "";
              result.forEach((item, index) => {
                console.log(item);
                str += "<input type='hidden' name='imageDTOList["+index+"].imgName' value='"+item['fileName'] +"'>";
                str += "<input type='hidden' name='imageDTOList["+index+"].path' value='"+item['folderPath']+"'>";
                str += "<input type='hidden' name='imageDTOList["+index+"].uuid' value='"+item['uuid']+"'>";
                // console.log(item.fileName);
                // console.log(item['fileName']);
              })
              console.log(str);
              $(".box").html(str);
              $("#Post-Image").submit();

            },
            error: function (jqXHR, textStatus, errorThrown) {
              console.log(textStatus)
            }
          });

          alert('포스트 파일이 제출되었습니다.');
          console.log(inputFile);
          $('.Post-File-Modal').modal('hide');
        });
      });
    });
  });

  $(document).ready(function() {
    $('.uploadButton-profile').click(function () {
      $('.profile-Image-File').click();
      console.log("profile-image");

      $('.profile-Image-File').on('change', function() {
        if (this.files && this.files.length > 0) {
          // 파일이 선택되면 모달을 표시
          $('.Profile-File-Modal').modal('show');
          var formData = new FormData();
          var inputFile = $("input.profile-Image-File");
          var files = inputFile[0].files;
          console.log(files[0]);
          formData.append("uploadFiles", files[0]);
        }
        $('.submitFile-Profile').click(function() {
          // 제출 버튼 클릭 시 수행할 로직
          $.ajax({
            url: '/uploadAjax',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
              console.log(result);
              // showUploadedImages(result)
              userName = document.getElementById('userName').textContent;
              var str = "";
              result.forEach((item, index) => {
                console.log(item);
                str += "<input type='hidden' name='imgName' value='" + item['fileName'] + "'>";
                str += "<input type='hidden' name='path' value='" + item['folderPath'] + "'>";
                str += "<input type='hidden' name='uuid' value='" + item['uuid'] + "'>";
                str += "<input type='hidden' name='userName' value='" + userName + "'>";

                // console.log(item.fileName);
                // console.log(item['fileName']);
              })
              console.log(str);
              $(".box").html(str);
              $("#Profile-Image").submit();

            },
            error: function (jqXHR, textStatus, errorThrown) {
              console.log(textStatus)
            }
          });

          alert('프로필 파일이 제출되었습니다.');
          console.log(inputFile);
          $('.filemodal').modal('hide');

        });
      });
    });
  });

  function showUploadedImages(arr){
    console.log(arr);
    var divArea = $(".uploadResult");
    var str = "";

    for (var i = 0; i < arr.length; i++) {
      str += "<div>";
      str += "<img src='/display?fileName=" + arr[i].thumbnailURL + "'>";
      str += "<button class='removeBtn' data-name='" + arr[i].imageURL + "'>Remove</button>";
      str += "</div>";
      console.log(str);
    }
    divArea.append(str);
  }


  $(function (){
    $(document).on('click', '.search-name', function (){
      $('#SearchModal').css('z-index', 1060).modal('show');
    })
  })
  document.getElementById('searchForm').onsubmit = function(event) {
    event.preventDefault();
    var searchTerm = document.getElementById('searchInput').value;
    console.log('검색어:', searchTerm);
    var searchResult = "";
    $.getJSON("/search/"+searchTerm +"/all", function (arr){
      console.log(arr.name);
      })

    searchResult += '<p>Seonghun</p>';
    searchResult += '<p>tts</p>';
    $(".searchResult").html(searchResult);
    // 여기에 검색 로직을 추가할 수 있습니다.
  }


  $(function (){
    var commentBox = document.querySelector('#comment-box');
    var userEmail, postId;
    userEmail = document.getElementById('userEmail').textContent;
    userName = document.getElementById('userName').textContent;
    loadEmail = document.getElementById('loadEmail').textContent;
    $('.post-list-img').click(function() {
      $('#myModal').modal('show');
      var imageUrl = $(this).data('url');
      var imageId = $(this).data('id');
      postId = $(this).data('pid');
      var str = '<img src=\"/display?fileName='+imageUrl+'/\" alt=\"Profile Picture\" class=\"post-image\">';
      console.log(imageUrl);
      // th:src ="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|"
      $(".modal-content-post-imagebox").html(str);
      // console.log(imageId);
      // console.log(imageUrl);
      // console.log(postId);
      $.getJSON("/reply/"+postId +"/all", function (arr){
        var str = "";
        console.log("Reply Value Test : ", arr);
        // console.log(arr);


        $.each(arr, function (idx, reply){
          console.log(reply);
          str += '<div class="comment-body-reply">';
          str += '<div class="comment-title-username comment-bold">'
          str += reply.name
          str += '</div>'
          str += '<div class="comment-title-comment">'
          str += reply.text
          str += '</div>'
          if (userEmail == reply.email) {
            str += '<span class="options dots reply-option" data-rno="' + reply.rno + '">...</span>'
          }
          str += '</div>'

        });
        $(".comment-body").html(str);
      })


      function handleSendButtonClick() {
        console.log(commentBox.value)
        var data = {pno:postId, text:commentBox.value, email:userEmail};
        console.log(data);
        $.ajax({
          url: '/reply/'+postId,
          type: "POST",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          dataType:"text",
          success: function (result){
            console.log("result : " + result);
            self.location.reload();
          }
        })

      };
      $('.send').off('click').on('click', handleSendButtonClick);
    });
    $(function() {
      $(document).on('click', '.profile-name', function() {
        console.log(userEmail);
        window.location.href = '/sidebar/' + userName;
      });
    });
    $(function() {
      // 이벤트 위임을 사용하여 동적으로 생성된 모든 '.reply-option'에 이벤트 핸들러를 바인딩
      $(document).on('click', '.reply-option', function() {
        // 필요한 경우 여기에 클릭 이벤트에 대한 추가적인 로직을 넣을 수 있습니다.
        var rno = $(this).data("rno");
        $('#optionsModal').css('z-index', 1060).modal('show');
        $('#remove-reply').click(function() {
          console.log('삭제 버튼이 클릭되었습니다.');
          console.log(rno);

          $.ajax({
            url: '/reply/'+rno+"/"+rno,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (result){
              console.log("result : " +result);
              // self.location.reload();
              $('[data-rno="' + rno + '"]').closest('.comment-body-reply').remove();
            }
          })
          $('#optionsModal').modal('hide');
        });
        $('#cancel-reply').click(function() {
          console.log('취소 버튼이 클릭되었습니다.');
        });
      });
    });
  });




</script>
