<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chat Room</title>
  <link th:href="@{/css/ChatCSS.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--<div id="chatPage">-->
<!--  <input type="text" id="name" placeholder="Enter your name" />-->
<!--  <div id="chatMessages" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc;"></div>-->
<!--&lt;!&ndash;  <input type="text" id="messageInput" placeholder="Type a message..." />&ndash;&gt;-->
<!--  <button onclick="sendMessage('publicRoom')">Send</button>-->
<!--</div>-->


<div>
  <input type="text" id="LoginUserName" placeholder="Enter Login User name" />
  <input type="text" id="FriendUserName" placeholder="Enter Friend User name" />
  <button type="button" id="modal-button"class="btn btn-primary" data-toggle="modal">
    Open Chat Room
  </button>
</div>



<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Chat Room</h5>
        <button type="button" id="close-modal-room" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="messages-modal" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; background-color: rgb(255, 255, 255);">
          <div class="modal-header">
            <button class="past-button" id="past-chat">이전 기록</button>
          </div>
          <div class id="messages-box">

          </div>
          <!-- 메시지가 동적으로 여기에 표시됨 -->
        </div>
        <input type="text" id="name" placeholder="Enter your name" />
        <input type="text" id="messageInput" placeholder="Type a message..." class="form-control mt-2">
      </div>
      <div class="modal-footer">
        <button type="button" id="send-button-modalroom">Send</button>
<!--        <button onclick="sendMessage('publicRoom')">Send</button>-->
      </div>
    </div>
  </div>
</div>


</body>

<script th:inline="javascript">
  var stompClient = null;

  const options = {
    year: 'numeric', month: '2-digit', day: '2-digit',
    hour: '2-digit', minute: '2-digit', second: '2-digit',
    hour12: true,
    timeZone: 'UTC'  // 서버 시간대가 UTC라고 가정
  };
  const formatter = new Intl.DateTimeFormat('en-GB', options);

  function connect(RoomID) {
    var socket = new SockJS('/ws');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function (frame) {
      console.log('Connected: ' + frame);
      stompClient.subscribe('/topic/chat/'+RoomID, function (chatMessage) {
        showChatMessage(JSON.parse(chatMessage.body).name, JSON.parse(chatMessage.body).content, JSON.parse(chatMessage.body).regDate);
      });
    });
    console.log("Connect stomp Client : ", stompClient)
  }

  function disconnect() {
    console.log("Disscunec?",stompClient)
    if (stompClient !== null) {
      stompClient.disconnect();
    }
    console.log("Disconnected");
  }

  function sendMessage(RoomID) {
    console.log("Send Request Room id : ", RoomID);
    var messageContent = document.getElementById('messageInput').value.trim();
    var name = document.getElementById('name').value.trim();
    console.log("Message Content! : ",messageContent);
    if(messageContent && stompClient) {
      var chatMessage = {
        name: name,
        content: messageContent
      };

      console.log("Send Rquest Direction : ");
      stompClient.send("/app/chat/"+RoomID, {}, JSON.stringify(chatMessage));
      document.getElementById('messageInput').value = '';
    }
  }

  function showChatMessageReverse(name, message, time) {
    var messageElement = document.createElement('div');
    console.log(time);
    var formattedDateTime = formatter.format(new Date(time));
    var showedTime = formattedDateTime.slice(21, 23)+" "+
            formattedDateTime.slice(15, 17) +":" + formattedDateTime.slice(18, 20)
    console.log(showedTime);
    messageElement.innerText = name + ": " + message + " ------------ 시간 : " + showedTime;
    document.getElementById('messages-box').prepend(messageElement);
    // document.getElementById('messages-modal').appendChild(messageElement);
  }
  function showChatMessage(name, message, time){
    var messageElement = document.createElement('div');
    console.log(time);
    var formattedDateTime = formatter.format(new Date(time));
    var showedTime = formattedDateTime.slice(21, 23)+" "+
            formattedDateTime.slice(15, 17) +":" + formattedDateTime.slice(18, 20)
    console.log(showedTime);
    messageElement.innerText = name + ": " + message + " ------------ 시간 : " + showedTime;
    document.getElementById('messages-box').appendChild(messageElement);
  }

  $(function () {
    var roomID = ""
    var page = 1;
    var totalPage = null;
    $("#modal-button").on('click',function () {

      console.log("Click Botten");
      var loginUserName = $("#LoginUserName").val();
      var friendUserName = $("#FriendUserName").val();

      console.log("Login User Name: " + loginUserName);
      console.log("Friend User Name: " + friendUserName);

      // 여기서 loginUserName, friendUserName으로 ajax 요청 -> chatroom id get or create하기
      $.ajax({
        url: '/chat/getORCreateChatRoom',
        type: 'POST',
        dataType: 'JSON',
        data: {loginName : loginUserName, friendName :friendUserName},
        success: function (chatRoomDTO){

          roomID = chatRoomDTO.id;
          connect(chatRoomDTO.id);
          console.log("중첩 확인 ----------");
          $.ajax({
            url: '/chat/getChatListbyRoomIDPage?page=1',
            type: 'POST',
            dataType: 'JSON',
            data: {roomID: roomID},
            success: function (pageRequestChatDTO){
              totalPage = pageRequestChatDTO.totalPage;
              console.log("ChatMessageDTOLIST : ",pageRequestChatDTO);
              $.each(pageRequestChatDTO.dtoList, function (idx, chatMessageDTO){
                showChatMessageReverse(chatMessageDTO.name, chatMessageDTO.content, chatMessageDTO.regDate);
              })
              var messageElement = document.createElement('div');
              messageElement.innerText = '-----이전 기록-----';
              document.getElementById('messages-box').appendChild(messageElement);
            }
          })
          $('#past-chat').off('click').on('click', function (){
            page += 1;
            if(totalPage >= page) {
              $.ajax({
                url: '/chat/getChatListbyRoomIDPage?page=' + page,
                type: 'POST',
                dataType: 'JSON',
                data: {roomID: roomID},
                success: function (pageRequestChatDTO) {
                  console.log("ChatMessageDTOLIST : ", pageRequestChatDTO);
                  $.each(pageRequestChatDTO.dtoList, function (idx, chatMessageDTO) {
                    showChatMessageReverse(chatMessageDTO.name, chatMessageDTO.content, chatMessageDTO.regDate);
                  })
                }
              })
            }
            else{
              alert("조회 할 목록이 없습니다.")
            }
          })

        }
      })
      console.log("What is that..");
      $('#chatModal').modal('show');

    })

    $('#send-button-modalroom').click(function (){
      console.log("Send-button-modalroom")
      sendMessage(roomID);
    })
    $('#chatModal').on('hidden.bs.modal', function () {
      document.getElementById('LoginUserName').value = ''
      document.getElementById('FriendUserName').value = ''
      document.getElementById('messages-box').innerHTML = '';
      console.log("Modal closed");
      console.log("PAGE1 : !!"+ page);
      page = 1;
      console.log("PAGE2 : !!"+ page);

      disconnect();
    });
  })
</script>