<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/LoginForm.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="main-container" th:if="${checkPassword}">
    <div class="container">
        <h2>회원 정보 변경을 위해<br>정보를 입력해주세요.</h2>
        <form id="change-form" action="/member/socialChange" method="POST">
            <div class="sub-check">* 이메일
            </div>
            <input type="text" th:value="${memberDTO.email}" disabled>
            <label for="name">
                <div class="sub-check">* 이름
                    <button class="button-check" id="button-check-name" type="button">중복 체크</button>
                </div>
                <input type="text" id="name" name="name"><br><br>
            </label>
            <label for="newPassword">* 비밀번호<br>
                <input class="pw" id="newPassword" type="password" name="newPassword" autocomplete="new-password"><br><br>
            </label>
            <label for="password-check">* 비밀번호 확인<br>
                <input class="pw" id="password-check" type="password"><br><br> </label>

            <br><br>
        </form>
        <button id ='tt' class="button-signup">가입하기</button>

    </div>
</div>
</body>

</html>
<script>
    var passwordFlag = false

    var nameFlag = false
    $('#tt').click(function (){
        var password = $('#newPassword').val()
        var passwordCheck = $('#password-check').val()
        if (password == passwordCheck){
            passwordFlag = true;
        }
        else
            passwordFlag = false
        if (nameFlag ==false) {
            alert("중복 체크를 완료해주세요.")
        }
        else if (password == "" || passwordCheck == "") {
            console.log(nameFlag)
            alert("비밀번호를 입력해주세요.")
        }
        else if(passwordFlag == false){
            alert("비밀번호를 다시 입력해주세요")
        }

        if(nameFlag && passwordFlag){
            $('#change-form').submit();
        }

    })
    $('#button-check-name').click(function (){
        var name = $('#name').val()
        $.ajax({
            url: "/login/checkName",
            type :"POST",
            data: {name :name},
            success: function (result){
                console.log(result)
                if (!result) {
                    nameFlag = true;
                    $('#button-check-name').text("체크 완료")
                }
                else {
                    nameFlag = false;
                    $('#button-check-name').text("체크 실패")
                }
            }
        })
    })


</script>